@import './variables.scss';
@import './mixes';

.section {
  @include section;
}

.header {
  @include headerSection;
}

.tabContainer {
  display: flex;
  gap: 1.3em;

  justify-content: center;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    color: $f-text-dark;
    font-size: 1em;
  }

  $tabsColors: (
    'beingWeird': $blue,
    'sustainability': $orange,
    'hobbies': $green,
    'learning': $extra,
    'background': $blue,
  );

  @each $key, $val in $colors {
    .#{$key} {
      color: $val;
    }
  }

  .tabActive--1 {
    @include activeTab($blue);
  }
}

.beingWeird {
  @include aboutContent($blue);
}
.background {
  @include aboutContent($green);
}
.sustainability {
  @include aboutContent($orange);
}
.hobbies {
  @include aboutContent($extra);
}
.learning {
  @include aboutContent($blue);
}
