@mixin containerFlex {
  display: flex;
}
@mixin headerSection {
  display: grid;
  width: 70vw;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  gap: 3em;
  color: $brown;
  justify-items: flex-end;

  .break {
    width: 100%;
    border: solid 2px $brown;
    border-radius: 3px;
  }
  h3 {
    white-space: nowrap;
  }
}

@mixin section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4em;
  margin-bottom: 4em;
  gap: 2em;
}
@mixin aboutContent($color) {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  border: solid 7px $color;
  padding: 2em 3em;
  border-radius: 1em;
  background-color: $brown;
  color: $f-text-light;
  max-width: 40em;
  min-height: 16em;
}
@mixin activeTab($color) {
  background-color: $color;
  color: $f-text-light;
  border-radius: 0.35em 0.35em 0 0;
}
