$bg-color: #e6ded1;

$orange: #c56824;
$green: #a09f57;
$blue: #a5c9ca;
$brown: #8e806a;
$extra: #d77fa1;
$gray-200: #494947;

$f-title: #8e806a;
// $f-text-dark: #494947;
$f-text-dark: #313131;
$f-text-light: #efead8;
$f-text-hover: #a09f57;

$max-width-app: 93.5em;
