@import './variables.scss';
@import './mixins';

.section {
  @include section;
}

.header {
  @include headerSection;
}
.infoContainer {
  width: 100%;
}
.tabContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    padding-bottom: 0.7em;
    color: $f-text-dark;
    font-size: 1.4em;
    font-family: 'Baloo 2', cursive;
    border-radius: 0.35em 0.35em 0 0;
  }

  $tabsColors: (
    '1': $blue,
    '2': $orange,
    '3': $extra,
    '4': $blue,
    '5': $green,
  );

  @each $key, $val in $tabsColors {
    .tab--#{$key} {
      &:hover {
        background-color: $val;
        transition: all ease 1s;
      }
    }
    .tabActive--#{$key} {
      @include activeTab($val);
    }
  }
  @media screen and (max-width: 800px) {
    gap: 0.5em;
  }
}

$contentTab: (
  'beingWeird': $blue,
  'background': $green,
  'sustainability': $orange,
  'hobbies': $extra,
  'learning': $blue,
);
@each $key, $val in $contentTab {
  .#{$key} {
    @include aboutContent($val);
  }
}

@media screen and (max-width: 700px) {
  .tabContainer {
    margin-inline: auto;
    width: 92%;
    display: grid;
    justify-content: flex-start;
    grid-auto-flow: column;
    white-space: nowrap;
    padding: 0 2em;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1em;
    * {
      scroll-snap-align: start;
    }
  }
}
