@import './variables.scss';

.section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em auto;
  background-color: $green;
  border-radius: 1.5em;
  color: $f-text-light;
  min-height: 18em;
  max-width: 60em;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    border-radius: 0;
  }
  h4 {
    grid-column: 2/3;
    padding: 0 1em;
    line-height: 1.2;
  }
}
.bgImg {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba($color: $brown, $alpha: 0.6);
  z-index: 2;
  h2 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 6em;
    z-index: 3;
    padding: 0.5em;
  }
}
.image {
  opacity: 0.4;
}
@media screen and (max-width: 700px) {
  .section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    h4 {
      padding: 0.5em 1em;
      text-align: center;
    }
  }
  .bgImg {
    width: 100%;
    min-height: 15em;
    h2 {
      width: 100%;
      text-align: center;
      padding: 0;
    }
  }
}
