@import './variables.scss';
@import './mixes';

.section {
  @include section;
  color: $f-text-dark;
}
.header {
  @include headerSection;
}
.content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  // border: solid 1px red;
  gap: 1em;

  height: 8em;
  align-items: center;

  .break {
    border: solid $extra 2px;
    height: 100%;
    border-radius: 2px;
  }
}
.socialSection {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  padding: 1em;
  gap: 1em;
  ul {
    display: flex;
    gap: 1em;
  }
  h4 {
    white-space: nowrap;
  }
}
.socialIcon {
  position: relative;
  height: 2em;
  width: 2em;
}
.emailSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
