@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  // width: 100%;
  background-color: $bg-color;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5em;
  font-family: 'Fjalla One', sans-serif;
}
body {
  margin-inline: auto;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
}
li {
  list-style: none;
}

h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Baloo 2', cursive;
}
h5 {
  font-size: 1.7rem;
  font-weight: 200;
  font-family: 'Baloo 2', cursive;
}
p {
  font-family: 'Baloo 2', cursive;
  font-size: 1.4rem;
}
