@import "variables";
@import "./mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --fs-400: 1.4rem;
  --fs-500: 1.7rem;
  --fs-600: 1.8rem;
  --fs-800: 2.5rem;
  --fs-1000: 3.4rem;
  @media screen and (max-width: 1200px) {
    --fs-400: 1rem;
    --fs-500: 1.4rem;
    --fs-600: 1.5rem;
    --fs-800: 2.2rem;
    --fs-1000: 3.2rem;
  }
}
html {
  background-color: $bg-color;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5em;
  font-family: "Fjalla One", sans-serif;
}
body {
  margin-inline: auto;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "Baloo 2", cursive;
}
li {
  list-style: none;
}

h2 {
  font-size: var(--fs-1000);
}
h3 {
  font-size: var(--fs-800);
}
h4 {
  font-size: var(--fs-600);
  font-weight: 400;
  font-family: "Baloo 2", cursive;
}
h5 {
  font-size: var(--fs-500);
  font-weight: 200;
  font-family: "Baloo 2", cursive;
}
p {
  font-family: "Baloo 2", cursive;
  font-size: var(--fs-400);
}
