@import "./variables.scss";

.container {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin: auto;
  min-height: 30em;
  max-width: 80em;
  margin-bottom: 4em;
  gap: 1em;
}

.title {
  color: $brown;
}
.description {
  align-self: flex-start;
}

//*
.project__preview {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  // border: solid 1px red;
  height: 100%;
  justify-content: flex-end;

  .video {
    border: solid 1px red;
    width: 100%;
  }
  .technical {
    display: none;
    padding: 1em;
    border-radius: 2em 0 0 2em;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all ease-in 1s;
    width: 30%;
    height: 90%;
  }
  &:hover {
    .technical {
      transform: translateX(0);
      display: flex;
      margin: auto 0;
      gap: 3em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: $blue, $alpha: 0.7);
    }
  }
}

.tools {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  li {
    cursor: default;
    padding: 0.5em 0.7em;
    background: rgba($color: $bg-color, $alpha: 0.79);
    color: $brown;
    font-size: var(--fs-400);
    border-radius: 0.5em;
  }
}
.seeMore {
  display: flex;
  gap: 1em;
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.3em 0.3em;
    // width: 2em;
    // height: 2em;
    border-radius: 0.5em;
    font-weight: 700;
    color: $f-text-light;
    &:hover {
      background-color: rgba($color: $blue, $alpha: 1);
      color: $brown;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  .project__preview {
    .technical {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  .tools {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
